.orders-list {
    padding: 200px 110px 100px 110px;
}

.orders-list-title {
    font-size: 64px;
}

.orders-list-title .title-order-type {
    border: none;
    outline: none;
    font-size: 44px;
    padding: 25px 60px;
    color: #FF8C01;
    border: 5px solid #FF8C01;
    background-color: #FFFFFF;
    font-weight: 500;
    border-radius: 60px;
    cursor: pointer;
}

.orders-list .change-type-wrapper {
    margin-top: 40px;
}

.orders-list .change-type {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 32px;
    padding: 25px 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-types {
    display: none;
}
.work-types.active {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 40px;
    font-size: 32px;
    gap: 10px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.work-types .list-link {
    color: #000000;
    cursor: pointer;
}
.work-types-title {
    font-size: 64px;
    margin-bottom: 20px;
}

.order-queue {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
}

.order-queue .order-card {
    padding: 100px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 5px solid #FF8C01;
    border-radius: 20px;
    gap: 0 20px;
}

.card-title {
    font-size: 64px;
    margin-bottom: 30px;
}
.card-text {
    font-size: 22px;
    opacity: 75%;
    max-width: 800px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.card-price {
    font-size: 64px;
}
.card-time {
    font-size: 32px;
}

.card-btn {
    font-size: 32px;
    padding: 20px;
    background-color: #FF8C01;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
}



@media (max-width: 1350px) {
    .orders-list .change-type-wrapper {
        width: 100%;
    }
    .orders-list-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 44px;
    }
    .orders-list-title .title-order-type {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 22px;
    }
    .work-types .list-link {
        font-size: 22px;
    }
    .work-types-title {
        font-size: 44px;
    }
    .card-title {
        font-size: 44px;
    }
    .card-text {
        font-size: 32px;
    }
    .card-btn {
        font-size: 22px;
    }
    .card-text {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .orders-list {
        padding: 220px 40px 100px 40px;
    }
}

@media (max-width: 700px) {
    .order-queue .order-card {
        flex-direction: column;
        padding: 40px 20px;
    }
    .order-card .card-left {
        text-align: center;
    }
    .order-card .card-right {
        text-align: center;
        margin-top: 40px;
    }
    .order-card .card-left .card-title {
        font-size: 32px;
    }
    .order-card .card-left .card-text {
        font-size: 16px;
    }
    .order-card .card-right .card-price {
        font-size: 32px;
    }
    .order-card .card-right .card-time {
        font-size: 16px;
    }
    .order-card .card-right .card-btn {
        font-size: 16px;
    }
}