* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Helvetica;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #031803;
}

::selection {
  background-color: #031803;
}

.wrapper {
  background-color: #000;
  overflow-x: hidden;
}
.wrapper header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  padding: 15px 120px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 25px 5px #000;
          box-shadow: 0px 0px 25px 5px #000;
  color: #16cc2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper header .logo {
  text-shadow: 0px 0px 4px #36c747;
  letter-spacing: 4px;
  font-size: 2em;
}
.wrapper header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}
.wrapper header nav a {
  font-size: 16px;
  margin-left: 30px;
  color: #16cc2b;
  text-shadow: 0px 0px 5px #36c747;
  opacity: 60%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
}
.wrapper header nav a:hover {
  opacity: 100%;
}
.wrapper header .menu-btn {
  display: none;
  font-size: 30px;
  text-shadow: 0px 0px 6px #36c747;
  cursor: pointer;
}
.wrapper .intro {
  height: 100vh;
  padding: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .intro * {
  z-index: 5;
}
.wrapper .intro .title {
  font-size: 64px;
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  margin-bottom: 20px;
}
.wrapper .intro .description {
  font-size: 20px;
  color: #16cc2b;
  text-shadow: 0px 0px 5px #3ad84f;
  opacity: 0%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.wrapper .intro .start-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 150px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 15px;
  color: #00ff1e;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 5px #3ad84f;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.wrapper .aboutme {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 120px;
}
.wrapper .aboutme * {
  z-index: 5;
}
.wrapper .aboutme .info-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .aboutme .info-col .title {
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  margin-bottom: 20px;
}
.wrapper .aboutme .info-col .title i {
  font-size: 30px;
  margin-right: 10px;
}
.wrapper .aboutme .info-col .description {
  font-size: 18px;
  color: #16cc2b;
  text-shadow: 0px 0px 5px #3ad84f;
  opacity: 60%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  max-width: 600px;
}
.wrapper .aboutme .img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .aboutme .img-col i {
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  font-size: 144px;
}
.wrapper .works-intro {
  padding: 10px 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.wrapper .works-intro .info-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .works-intro .info-col .title {
  opacity: 99%;
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  margin-bottom: 20px;
}
.wrapper .works-intro .info-col .title i {
  font-size: 30px;
  margin-right: 10px;
}
.wrapper .works-intro .info-col .description {
  font-size: 18px;
  color: #16cc2b;
  text-shadow: 0px 0px 5px #3ad84f;
  opacity: 60%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  max-width: 600px;
}
.wrapper .works-intro .img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .works-intro .img-col i {
  opacity: 99%;
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  font-size: 144px;
}
.wrapper .works {
  padding: 120px 0;
}
.wrapper .works * {
  z-index: 5;
}
.wrapper .works .swiper-container {
  padding: 0 120px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 1px #00ff1e, 0px 0px 25px 1px #00ff1e, 0px 0px 45px 1px #00ff1e;
          box-shadow: 0px 0px 5px 1px #00ff1e, 0px 0px 25px 1px #00ff1e, 0px 0px 45px 1px #00ff1e;
}
.wrapper .works .swiper-container .swiper-wrapper .swiper-slide {
  color: #00ff1e;
  padding: 60px 30px;
  background-color: transparent;
  text-align: center;
}
.wrapper .works .swiper-container .swiper-wrapper .swiper-slide .title {
  color: #0af125;
  text-shadow: 0px 0px 5px #36c747;
  margin-bottom: 20px;
}
.wrapper .works .swiper-container .swiper-wrapper .swiper-slide .description {
  font-size: 18px;
  color: #16cc2b;
  text-shadow: 0px 0px 5px #3ad84f;
  opacity: 60%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wrapper .works .swiper-container .swiper-wrapper .swiper-slide a {
  width: 150px;
  text-decoration: none;
  border-radius: 15px;
  color: #00ff1e;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 5px #3ad84f;
}

@media (max-width: 1200px) {
  .wrapper header {
    padding: 15px 7vw !important;
  }
  .wrapper header nav {
    display: none;
  }
  .wrapper header .menu-btn {
    display: block;
  }
  .wrapper .intro {
    padding: 7vw;
  }
  .wrapper .aboutme {
    padding: 7vw;
  }
  .wrapper .works {
    padding: 7vw 0;
  }
  .wrapper .works .swiper-container {
    padding: 0 7vw;
  }
  .wrapper .works-intro {
    padding: 10px 7vw;
  }
}
@media (max-width: 650px) {
  .wrapper .aboutme {
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .wrapper .aboutme > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper .aboutme > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .wrapper .aboutme .info-col {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .wrapper .aboutme .img-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .wrapper .works-intro {
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .wrapper .works-intro > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper .works-intro > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .wrapper .works-intro .info-col {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .wrapper .works-intro .img-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 500px) {
  .wrapper .intro .title {
    font-size: 42px;
  }
}