.advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 50px 110px;
    background-color: #FF8C01;
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 30px;
}

.adv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    color: #FFFFFF;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
}

.adv-num {
    font-size: 64px;
}

.adv-text {
    font-size: 44px;
}



@media (max-width: 1350px) {
    .adv-num {
        font-size: 44px;
    }
    .adv-text {
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    .advantages {
        padding: 35px 40px;
    }
    .adv-num {
        font-size: 32px;
    }
    .adv-text {
        font-size: 20px;
    }
}
