@font-face {
  font-family: "Lavanderia";
  src: url("../fonts/Lavanderia.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  line-height: 90px;
  padding: 0 10vw;
  background-color: rgba(255, 255, 255, 0.92);
}
.wrapper .header .nav-bar .nav-link {
  display: inline-block;
  margin: 0 10px;
  color: #595959;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.wrapper .header .nav-bar .nav-link:hover {
  color: #de6d6e;
}
.wrapper .header .nav-bar .login-btn {
  display: inline-block;
  margin-left: 15px;
  background-color: #de6d6e;
  color: #FFF;
  height: 25px;
  width: 85px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.wrapper .header .nav-bar .login-btn img {
  margin: 0 3px;
}
.wrapper .header .nav-bar .login-btn span {
  margin-bottom: 5px;
}
.wrapper .header .nav-bar .login-btn:hover {
  background-color: #EE8889;
}
.wrapper .intro {
  height: 100vh;
  width: 100%;
  background: url(../img/intro.png);
  padding-top: 90px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: #FFF;
  text-align: center;
  padding: 80px 5vw;
}
.wrapper .intro .title {
  font-size: 68px;
  font-weight: bold;
  text-shadow: 0px 0px 21px black;
}
.wrapper .intro .description {
  font-size: 25px;
  text-shadow: 0px 0px 4px black;
}
.wrapper .content {
  min-height: 1140px;
  width: 100%;
  padding: 8vh 10vw 0;
}
.wrapper .content .title {
  font-weight: 400;
  color: #404040;
  text-align: center;
}
.wrapper .content .description {
  max-width: 800px;
  margin: 10px auto;
  color: #787878;
  text-align: center;
}
.wrapper .content .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 3px solid #e9e9e9;
  padding: 10vh 0;
  text-align: center;
}
.wrapper .content .cards .card {
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  margin: 10px auto;
  color: #FFFFFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.wrapper .content .cards .card .card-title {
  margin-top: 10px;
}
.wrapper .content .cards .card .card-description {
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  max-width: 150px;
}
.wrapper .content .cards .card .card-title, .wrapper .content .cards .card .card-description, .wrapper .content .cards .card .card-img {
  transition: opacity 0.2s ease;
  -moz-transtion: opacity 0.2s ease;
  -o-transtion: opacity 0.2s ease;
  -webkit-transtion: opacity 0.2s ease;
}
.wrapper .content .cards .card:hover .card-title, .wrapper .content .cards .card:hover .card-img {
  opacity: 30%;
}
.wrapper .content .cards .card:hover .card-description {
  visibility: visible;
  opacity: 100%;
}
.wrapper .content .cards .tickets-card {
  background-color: #4eb9f4;
}
.wrapper .content .cards .camera-card {
  background-color: #6fc125;
}
.wrapper .content .cards .beer-card {
  background-color: #ff5649;
}
.wrapper .content .cards .devices-card {
  background-color: #e48f23;
}
.wrapper .content .posts {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}
.wrapper .content .posts .post-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.wrapper .content .posts .post-card .post-card__img {
  max-height: 130px;
  max-width: 200px;
}
.wrapper .content .posts .post-card .post-card__text-part {
  padding: 5px 25px;
}
.wrapper .content .posts .post-card .post-card__text-part .post-card__title {
  font-size: 27px;
  color: #404040;
  margin-bottom: 15px;
}
.wrapper .content .posts .post-card .post-card__text-part .post-card__description {
  font-size: 15px;
  color: #9a9a9a;
}
.wrapper .footer {
  min-height: 255px;
  width: 100%;
  background-color: #1F1F1F;
  color: #979797;
  font-weight: lighter;
  display: flex;
  padding: 35px 125px;
}
.wrapper .footer .footer-menu {
  display: flex;
}
.wrapper .footer .footer-menu .footer__sub-menu {
  margin: 0 3vw;
}
.wrapper .footer .footer-menu .footer__sub-menu h2 {
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 20px;
}
.wrapper .footer .sm-menu .sm-menu__links {
  display: flex;
}
.wrapper .footer .sm-menu .sm-menu__links .sm-menu__link {
  height: 50px;
  width: 50px;
  background-color: #696b6a;
  border-radius: 100%;
  margin-right: 20px;
}
.wrapper .footer .sm-menu .sm-menu__links .sm-menu__link.facebook-link {
  background: url(../img/footer/fb.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0.3);
}
.wrapper .footer .sm-menu .sm-menu__links .sm-menu__link.twitter-link {
  background: url(../img/footer/twitter.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0.3);
}
.wrapper .footer .sm-menu .sm-menu__links .sm-menu__link.dribble-link {
  background: url(../img/footer/dribble.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0.3);
}
.wrapper .footer .sm-menu .sm-menu__links .sm-menu__link.share-link {
  background: url(../img/footer/share.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0.3);
}
.wrapper .footer .sm-menu .copyright {
  color: #696b6a;
  margin-top: 25px;
}
.wrapper .footer .sm-menu .copyright a {
  text-decoration: none;
  color: #696b6a;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.wrapper .footer .sm-menu .copyright a:hover {
  color: #9A9A9A;
}

@media (max-width: 1230px) {
  .posts .post-card {
    flex-direction: column !important;
    text-align: center;
  }
  .posts .post-card .post-card__img {
    margin: 0 auto 20px;
  }

  .cards {
    flex-direction: column !important;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-menu {
    justify-content: center;
  }
  .footer .sm-menu {
    margin-top: 40px;
  }
}
@media (max-width: 720px) {
  .header .nav-bar {
    display: none;
  }
  .header .logo {
    margin: 0 auto;
  }

  .intro {
    justify-content: center !important;
    align-items: center !important;
  }
  .intro .title {
    margin-top: 90px;
    font-size: 54px;
  }

  .content {
    padding: 5vh 5vw !important;
  }
  .content .posts {
    padding: 5vh 5vw !important;
  }
}
@media (max-width: 425px) {
  .intro .title {
    font-size: 44px !important;
  }

  .footer .footer-menu {
    flex-direction: column;
  }
  .footer .footer-menu .footer__sub-menu {
    margin-bottom: 40px !important;
  }
}