* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Helvetica;
    box-sizing: border-box;
}

::selection {
    background-color: #031803;
}

.wrapper {
    background-color: #000;
    overflow-x: hidden;

    header {
        z-index: 10;
        position: fixed;
        top: 0; right: 0; left: 0;
        width: 100vw;
        padding: 15px 120px;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 0px 25px 5px #000;
        color: #16cc2b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .logo {
            text-shadow: 0px 0px 4px #36c747;
            letter-spacing: 4px;
            font-size: 2em;
        }

        nav {
            display: flex;
            padding-top: 5px;

            a {
                font-size: 16px;
                margin-left: 30px;
                color: #16cc2b;
                text-shadow: 0px 0px 5px #36c747;
                opacity: 60%;
                transition: all 0.25s ease;
                text-decoration: none;
            }

            a:hover {
               opacity: 100%;
            }
        }

        .menu-btn {
            display: none;
            font-size: 30px;
            text-shadow: 0px 0px 6px #36c747;
            cursor: pointer;
        }
    }

    .intro {
        height: 100vh;
        padding: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        * {
            z-index: 5;
        }

        .title {
            font-size: 64px;
            color: #0af125;
            text-shadow: 0px 0px 5px #36c747;
            margin-bottom: 20px;
        }

        .description {
            font-size: 20px;
            color: #16cc2b;
            text-shadow: 0px 0px 5px #3ad84f;
            opacity: 0%;
            transition: all 1s ease;
        }

        .start-btn {
            display: flex;
            align-items: center;
            text-align: left;
            width: 150px;
            margin-top: 50px;
            text-decoration: none;
            border-radius: 15px;
            color: #00ff1e;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 0px 0px 5px #3ad84f;
            opacity: 0;
            transition: all 1s ease;
        }
    }

    .aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 120px;

        * {
            z-index: 5;
        }

        .info-col {
            display: flex;
            flex-direction: column;

            .title {
                color: #0af125;
                text-shadow: 0px 0px 5px #36c747;
                margin-bottom: 20px;

                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }

            .description {
                font-size: 18px;
                color: #16cc2b;
                text-shadow: 0px 0px 5px #3ad84f;
                opacity: 60%;
                transition: all 1s ease;
                max-width: 600px;
            }
        }

        .img-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            i {
                color: #0af125;
                text-shadow: 0px 0px 5px #36c747;
                font-size: 144px;
            }
        }
    }

    .works-intro {
        padding: 10px 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .info-col {
            display: flex;
            flex-direction: column;

            .title {
                opacity: 99%;
                color: #0af125;
                text-shadow: 0px 0px 5px #36c747;
                margin-bottom: 20px;

                i {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }

            .description {
                font-size: 18px;
                color: #16cc2b;
                text-shadow: 0px 0px 5px #3ad84f;
                opacity: 60%;
                transition: all 1s ease;
                max-width: 600px;
            }
        }

        .img-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            i {
                opacity: 99%;
                color: #0af125;
                text-shadow: 0px 0px 5px #36c747;
                font-size: 144px;
            }
        }

    }

    .works {
        padding: 120px 0;

        * {
            z-index: 5;
        }

        .swiper-container {
            padding: 0 120px;
            text-align: center;
            box-shadow: 0px 0px 5px 1px #00ff1e,
                        0px 0px 25px 1px #00ff1e,
                        0px 0px 45px 1px #00ff1e;

            .swiper-wrapper {

                .swiper-slide {
                    color: #00ff1e;
                    padding: 60px 30px;
                    background-color: transparent;
                    text-align: center;

                    .title {
                        color: #0af125;
                        text-shadow: 0px 0px 5px #36c747;
                        margin-bottom: 20px;
                    }

                    .description {
                        font-size: 18px;
                        color: #16cc2b;
                        text-shadow: 0px 0px 5px #3ad84f;
                        opacity: 60%;
                        max-width: 500px;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }

                    a {
                        width: 150px;
                        text-decoration: none;
                        border-radius: 15px;
                        color: #00ff1e;
                        font-weight: bold;
                        font-size: 20px;
                        text-shadow: 0px 0px 5px #3ad84f;
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .wrapper {

        header {
            padding: 15px 7vw !important;

            nav {
                display: none;
                
            }

            .menu-btn {
                display: block;
            }
        }

        .intro {
            padding: 7vw;
        }

        .aboutme {
            padding: 7vw;
        }

        .works {
            padding: 7vw 0;

            .swiper-container {
                padding: 0 7vw;
            }
        }

        .works-intro {
            padding: 10px 7vw;
        }
    }
}

@media (max-width: 650px) {
    .wrapper {

        .aboutme {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 40px;

            .info-col {
                grid-row: 2/3;
                justify-content: center;
                text-align: center;
            }

            .img-col {
                justify-content: center;
                grid-row: 1/2;
            }
        }

        .works-intro {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 40px;

            .info-col {
                grid-row: 2/3;
                justify-content: center;
                text-align: center;
            }

            .img-col {
                justify-content: center;
                grid-row: 1/2;
            }
        }
    }
}

@media (max-width: 500px) {
    .wrapper {

        .intro {

            .title {
                font-size: 42px;
            }
        }
    }
}