@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$paragraph: rgba(255, 255, 255, 0.70);
$title: rgb(255, 255, 255);
$bright: #118DA8;
$background: #191919;
$card: #000000;


* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;

    font: {
        family: 'DM Sans', sans-serif;
        weight: 400;
    }
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
}
html {
    font-size: 10px;
}

.header {
    font-size: 16px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;

    align-items: center;
    justify-content: space-between;

    background-color: #191919c6;
    padding: 25px calc(20px + 3rem);

    &__logo {
        font: {
            weight: bold;
            size: 3.6rem;
        }
        color: $title;
    }

    &__nav {
        display: flex;
        gap: 40px;
        padding: 0 20px;

        &__link {
            color: $title;
            font-size: calc(10px + 0.7rem);
            
            transition: all .3s ease;

            &:hover {
                color: $bright;
            }
        }
    }
}

.intro {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 130px calc(20px + 3rem) 65px calc(20px + 3rem);
    
    &__poster {
        position: relative;

        & img:first-child {
            object-fit: cover;
            
            width: 100%;
            max-height: 80vh;

            margin: 0 20px;
            border-radius: 20px;
        }
        & img:last-child {
            margin: 0 20px;
            position: absolute;
            top: -20px;
            left: -20px;
        }
    }

    &__message {
        padding: 120px;

        display: flex;
        flex-direction: column;

        &__title {
            font-size: 7rem;
            color: $title;

            & span.under-text {
                position: relative;

                &::after {
                    content: '';
                    bottom: -5px;
                    left: 0;
                    position: absolute;
                    
                    height: 7px;
                    width: 100%;

                    background-color: $bright;
                    border-radius: 5px;
                }

            }
            
            & span.strong-text {
                font-weight: 700;
            }
        }

        .message__sources {
            margin-top: 120px;

            &__title {
                color: $title;
                font-size: calc(15px + 0.5rem);
                margin-bottom: 20px;
            }

            nav {
                display: flex;
                gap: 15px;

                a img {
                    width: calc(20px + 3rem);
                }
            }
        }
    }   
}

.episodes {
    padding: 30px calc(20px + 3rem) 65px calc(20px + 3rem);

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        margin-bottom: 60px;

        h1 {
            color: $title;
            font-size: calc(30px + 3.4rem);
        }
        a {
            padding: 12px 20px;
            background-color: $bright;
            color: $title;
            border-radius: 6px;
            cursor: pointer;
            font-size: calc(16px + 0.2rem);
        }
    }

    &__card {
        display: flex;
        background-color: $card;
        border-radius: 32px;
        padding: 40px;
        margin-bottom: 40px;
        position: relative;

        &__img {
            object-fit: cover;
        }

        .card__post {
            padding: 10px 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__art-type {
                width: 70px;
                color: $title;
                padding: 5px 15px;
                background-color: $background;
                border-radius: 6px;
                margin-bottom: 3rem;
                font-size: calc(10px + 0.8rem);
            }

            &__title {
                font-size: 6.4rem;
                color: $title;
                margin-bottom: 3rem;
            }
            &__paragraph {
                color: $paragraph;
                font-size: calc(15px + 0.7rem);
                margin-bottom: 40px;
            }
            &__btn {
                padding: 15px 20px;
                max-width: 250px;
                background-color: $bright;
                border: none;
                color: #FFFFFF;
                cursor: pointer;
                font-size: calc(10px + 0.8rem);
                border-radius: 6px;
            }
        }
    }
}

.post {
    padding: 65px calc(20px + 3rem);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;

    
    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__btn {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            border: none;
            outline: none;
            background-color: $bright;
            cursor: pointer;
        }   
        &__subtitle {
            font-size: calc(10px + 0.8rem);
            color: $bright;
            margin-top: 20px;    
        }
        &__title {
            margin-top: 10px;
            font-size: calc(30px + 3.5rem);
            color: $title;
        }
        &__paragraph {
            font-size: calc(15px + 0.7rem);
            margin-top: 30px;
            color: $paragraph;
            max-width: 550px;
        }
    }

    &__poster {
        position: relative;

        & img {
            object-fit: cover;
            width: 100%;
            border-radius: 26px;
        }
    }

}

.subscribe {
    padding: 65px calc(20px + 3rem);

    &__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;

        position: relative;
        padding: calc(20px + 4rem);
        background: $card;
        border-radius: 32px;

        &__decoration {
            position: absolute;
            bottom: -30px;
            left: -30px;
        }

        &__title {
            h2 {
                color: $bright;
                font-size: calc(10px + 0.8rem);
                margin-bottom: 30px;
            }
            h1 {
                color: $title;
                font-size: calc(20px + 5.2rem);
            }
        }

        &__form {
            display: flex;
            flex-direction: column;

            input {
                outline: none;
                border: none;
                border-radius: 6px;
                font-size: 1.5rem;
                margin-bottom: 20px;
                background-color: $bright;
                padding: 15px 10px;
                color: $title;
            }
            input[type="submit"] {
                max-width: 120px;
                cursor: pointer;
                font-size: calc(15px + 0.7rem);
            }
            input:not([type="submit"]) {
                padding: 25px 20px;
                font-size: calc(20px + 0.2rem);
                background-color: $background;
            }
        }
    }
}

.rating {
    padding: calc(50px + 5rem) calc(20px + 3rem) 60px calc(20px + 3rem);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);


    &__card {
        background-color: $card;
        border-radius: 32px;
        padding: calc(20px + 3rem);

        &__score {
            margin-bottom: 20px;
        }
        &__feedback {
            font-size: 3.6rem;
            color: $title;
            margin-bottom: 30px;
        }
        &__author {
            color: $paragraph;
            font-size: 2.4rem;
        }
    }
}

.footer {
    padding: calc(40px + 8rem) calc(30px + 3rem) 50px calc(30px + 3rem);
    display: flex;
    gap: 120px;

    nav {
        display: flex;
    }

    &__main {
        flex-direction: column;

        &__title {
            color: $title;
            font-size: 3.6rem;
            margin-bottom: 20px;
        }
        &__icons {
            display: flex;
            gap: 10px;
        }
    }
    &__nav {
        flex-direction: column;
        gap: 15px;

        &__link {
            font-size: 1.7rem;
            color: $paragraph;
        }
    }
    &__icons {
        gap: 20px;
    }
}

@media (max-width: 1100px) {
    html {
        font-size: 7px;
    }

    .intro {
        &__message {
            padding: 120px 60px;
        }
    }
}

@media (max-width: 850px) {
    .intro {
        height: 100vh;

        &__poster {
            display: none;
        }
        &__message {
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }
    }

    .episodes {
        padding-bottom: 0;

        &__title {
            
            a {
                text-align: center;
            }
        }

        &__card {

            flex-direction: column;

            &__img {
                max-height: 200px;
                border-radius: 20px;
            }

            .card__post {
                padding: 30px 0 0 0;
            }
        }
    }

    .post {
        grid-template-columns: 1fr;

        &__poster {
            display: none;
        }

        &__message__btn {
            display: none;
        }
    }

    .subscribe {
        text-align: center;
        padding: 0;

        &__card {
            border-radius: 0;

            display: flex;
            flex-direction: column;
            gap: 30px;

            &__decoration {
                display: none;
            }

            &__form {
                align-items: center;

                &__btn {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .rating {
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
        padding: 30px calc(20px + 3rem);

        &__main {
            &__title {
                font-size: calc(30px + 2rem);
            }
            &__icons {
                a img {
                    width: calc(40px + 0.7rem);
                }
            }
        }

        &__nav__link {
            font-size: calc(20px + 0.7rem);
        }

        &__icons {
            margin-top: 20px;

            a img {
                width: calc(40px + 0.7rem);
            }
        }
    }
        
}

@media (max-width: 500px) {
    html {
        font-size: 5px;

        .header {
            flex-direction: column;
            gap: 20px;

            &__nav {
                width: 100%;
                justify-content: space-between;
                gap: 5px;
            }
        }
    }

    .episodes {

        &__title {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            padding-left: 30px;
            padding-right: 30px;

        }
    
        padding-left: 0;
        padding-right: 0;

        &__card {
            border-radius: 0;
        }
    }

    .rating {
        padding: calc(30px + 2rem) 0;
        gap: 5px;

        &__card {
            border-radius: 0;
        }
    }
}