* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', serif;
}

.wrapper {

    header {
        padding: 20px 50px;
        background-color: #1a65a8;
        color: #ffffff;
        letter-spacing: 0.4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        .logo {
            letter-spacing: 1px;
        }

        p {
            margin-left: 20px;
        }

        .end-part {
            display: flex;

            .number-btn {
                padding: 10px 15px;
                border: 2px solid #fff;
                border-radius: 10px;
                display: flex;
                margin-right: 10px;
                cursor: pointer;
            }

            .cart {
                padding: 10px;
                border: 2px solid #ffffff;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .intro {
        padding: 50px;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 3fr 11fr;
        grid-gap: 50px;

        .sidebar {

            .sidebar-menu {
                display: none;
                justify-content: flex-end;
                width: 100%;
                padding: 15px 30px;
                background-color: #1a65a8;
                color: #ffffff;
                font-size: 24px;

                .sidebar-menu-btn {
                    cursor: pointer;
                }

            }
            
            nav {
                display: flex;
                flex-direction: column;
                background-color: #1a65a8;
                padding: 10px 0;
            
                .nav-item {
                    padding: 15px 30px;
                    color: #ffffff;
                    font-size: 18px;
                    text-decoration: none;
                    cursor: pointer;

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }

        .info {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .info-main {
                display: grid;
                grid-template-columns: 5fr 4fr;
                grid-gap: 50px;
                
                .main-text {
                    display: flex;
                    align-items: center;
                }

                .main-img {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    
                    img {
                        width: 90%;
                    }
                }
            }

            .info-addit {
                margin-top: 50px;
            }

            .intro-contacts {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;

                .contacts-btn {
                    padding: 20px 40px;
                    background-color: #1a65a8;
                    color: #ffffff;
                    font-size: 18px;
                    border-radius: 10px;
                }

                .other-contacts {
                    color: #7a7a7a;

                    a {
                        color: #7a7a7a;
                        text-decoration: none;
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .adv {
        background: url(../img/bg.png);
        background-color: #ffffff;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;

        .adv-title {
            color: #263b54;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 50px;
            padding-top: 50px;
            flex-wrap: wrap;
            justify-content: space-between;

            .element {
                position: relative;
                min-height: 370px;
                border: 4px solid #da9026;
                cursor: pointer;

                .content {
                    position: absolute;
                    top: -15px; left: -10px;
                    width: 100%;
                    height: 101%;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-between;
                    text-align: center;
                    border: 1px solid #ced9e8;
                    background-color: #ffffff;
                    font-size: 18px;
                    box-shadow: inset 0px 0px 15px 1px #ced9e877;

                    .img {
                        margin-bottom: 20px;
                        width: 40%;
                        margin: 0 auto 20px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .element-5 {
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .element-6 {
                grid-row: 2/3;
                grid-column: 3/4;
            }
        }
    }

    .found-cheaper {
        padding: 50px;
        display: flex;
        justify-content: center;

        &__btn {
            position: relative;
            padding: 40px 50px;
            width: 80%;
            border: 4px solid #1a65a8;

            &__content {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -10px; left: -10px;
                height: 100%;
                width: 100%;
                padding: 40px 50px;
                text-align: center;
                background-color: #1a65a8;
                color: #ffffff;
                font-size: 22px;
            }
        }
    }

    .tasks {
        padding: 0 50px 50px;

        .tasks-stroke {
            height: 1px;
            width: 100%;
            border-radius: 2px;
            background-color: #1a65a8;
            margin-bottom: 50px;
        }

        .tasks-title {
            font-size: 18px;
        }

        .tasks-list {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-gap: 50px;
            margin: 50px 0;

            .task {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                font-size: 18px;

                .img {
                    width: 110px;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    max-width: 200px;
                    // margin: 0 auto;
                }
            }
        }

        .tasks-text {
            font-size: 18px;

            p {
                margin-top: 50px;
            }
        }
    }

    .contacts {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 50px;
        padding-top: 0;

        .contacts-btn {
            padding: 20px 40px;
            background-color: #1a65a8;
            color: #ffffff;
            font-size: 18px;
            border-radius: 10px;
        }

        .other-contacts {
            color: #7a7a7a;

            a {
                color: #7a7a7a;
                text-decoration: none;
            }

            span {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 1800px) {
    .wrapper {
        .tasks {
            .tasks-list {
                .task {
                    font-size: 16px;
                    
                    .img {
                        width: 80px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media  (max-width: 1405px) {
    .wrapper {
        .adv {
            .row {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;

                .element {
                    .content {
                        .img {
                            width: 150px;
                        }
                    }
                }

                .element-5 {
                    grid-row: 3/4;
                    grid-column: 1/2;
                }
    
                .element-6 {
                    grid-row: 3/4;
                    grid-column: 2/3;
                }
            }
        }
    }
}


@media (max-width: 1300px) {
    .wrapper {
        .intro {
            grid-template-columns: 3fr 7fr;

            .info {
                font-size: 20px;

                .intro-contacts {
                    
                    .contacts-btn {
                        padding: 15px 30px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .wrapper {
        
        .intro {

            .info {

                .info-main {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-start;

                    .main-img {

                        img {
                            width: 100%;
                        }
                    }
                }
                
                .intro-contacts {
                    flex-direction: column;
                    align-items: flex-start;

                    .contacts-btn {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .adv {
            .row {
                .element {
                    .content {
                        font-size: 20px;
                    }
                }
            }
        }

        .tasks {
            .tasks-list {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);

                .task {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }

        .contacts {
            flex-direction: column;
            align-items: flex-start;

            .contacts-btn {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .tasks {
        padding: 0 7vw 7vw;

        .tasks-list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);

            .task {
                font-size: 24px;
            }
        }
    }
}


@media (min-width: 775px) {
    .wrapper {
        .intro {
            .sidebar {
                nav {
                    .close-btn {
                        display: none;
                    }
                }
            }
        }

        .contacts {
            .other-contacts {
                display: flex;

                span {
                    display: none;
                }
                a {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 15px;
                        margin-left: 30px;
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .wrapper {

        .intro {
            display: flex;
            flex-direction: column;
            padding: 7vw;
            grid-template-columns: 1fr;

            .sidebar {
                z-index: 999;

                .sidebar-menu {
                    display: flex;
                }

                nav {
                    position: fixed;
                    top: 0; bottom: 0; left: 0; right: 0;
                    height: 100%;
                    width: 100%;

                    .close-btn {
                        display: block;
                        position: fixed;
                        top: 20px;
                        right: 20px;
                        z-index: 10;
                        font-size: 24px;
                        color: #ffffff;
                    }
                }

                nav.hidden {
                    display: none;
                }
            }
        }

        .adv {
            padding: 7vw;

            .row {
                grid-template-columns: 1fr;
                grid-template-rows: repeat (6, 1fr);

                .element {
                    margin-right: 0;
                    margin-left: 0;
                    min-height: 300px;

                    .content {

                        .img {
                            width: 100px;
                        }

                        .text {
                            font-size: 18px;
                        }
                    }
                    
                }

                .element-5 {
                    grid-row: 5/6;
                    grid-column: 1/2;
                }
    
                .element-6 {
                    grid-row: 6/7;
                    grid-column: 1/2;
                }
            }
        }

        .found-cheaper {
            padding: 7vw;

            &__btn {
                padding: 70px;

                &__content {
                    font-size: 18px;
                }
            }
        }

        .tasks {
            padding: 0 7vw 7vw;

            .tasks-list {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);

                grid-gap: 10px;

                .task {
                    font-size: 16px;
                }
            }
        }

        .contacts {
            padding: 7vw;
            
            .other-contacts {

                a {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .wrapper {
        .adv {
            .adv-title {
                font-size: 28px;
            }
        }
        
        .found-cheaper {

            &__btn {
                padding: 80px !important;
                width: 700px;
                cursor: pointer;

                &__content {
                    padding: 80px 50px;
                    text-align: center;
                    background-color: #1a65a8;
                    color: #ffffff;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .tasks {

        .tasks-list {
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: repeat(9, 1fr) !important;
            grid-gap: 5px;

            .task {
                font-size: 18px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}