:root {
    /* Color scheme */
    --theme-bg: rgba(11, 22, 52, 1);
    --header-bg: #1A2355;
    --block-bg: rgba(26, 35, 85, 1);
    --earn-bg: rgba(0, 0, 0, 0.3);
    --overlay-bg: rgba(0, 0, 0, 0.8);
    --nav-btn-bg: rgba(19, 25, 60, 1);
    --notif-bg: rgba(0, 0, 0, 0.9);
    --app-popup-bg: rgba(38, 52, 124, 1);
    --friends-bg: rgba(0, 0, 0, 0.2);
    --finance-panel-bg: rgba(10, 0, 34, 1);

    --text-primary: #ffffff;
    --text-secondary: rgba(161, 161, 161, 1);
    --border: rgba(57, 67, 119, 1);
    /* --card-bg: rgba(57, 67, 119, 1); */

    --accent-blue: linear-gradient(88.37deg, #0080F5 1.38%, #0068C8 117.32%);
    --accent-green: linear-gradient(89.25deg, #4CB769 0.64%, #379E52 99.18%);
    --accent-yellow: rgba(251, 181, 65, 1);

    /* Border-radius */
    --corner-sm: 8px;
    --corner-md: 12px;
    --corner-lg: 26px;

    /* Font-sizes */
    --xlg-title: 34px;
    --lg-title: 32px;
    --md-title: 24px;
    --sm-title: 16px;
    --xsm-title: 12px;
    --x2sm-title: 10px;
    --tab-title: 20px;
}