.finances__header {
    margin-top: 25px;
    display: grid;
    background-color: var(--finance-panel-bg);

    overflow: hidden;

    border-radius: var(--corner-md);
    padding: 5px;
    height: 45px;
}
.finances__header-backline {
    display: flex;
    
    position: relative;
}
.backline__thumb {
    position: absolute;

    transition: all 0.5s ease;

    height: 100%;
    width: 33%;

    left: 0;

    border-radius: var(--corner-sm);
    background-color: var(--block-bg);
}
.finances__header-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}
.panel__button {
    font-size: var(--xsm-title);
    font-weight: 300;

    color: #fff;
    background: none;
    border: none;
    padding: 5px;

    cursor: pointer;
}