.finances__header {
    margin-top: 25px;
    display: grid;
    background-color: var(--finance-panel-bg);

    overflow: hidden;

    border-radius: var(--corner-md);
    padding: 5px;
    height: 45px;
}
.finances__header-backline {
    display: flex;
    
    position: relative;
}
.backline__thumb {
    position: absolute;

    transition: all 0.25s ease;

    height: 100%;
    width: 33%;

    left: 0;

    border-radius: var(--corner-sm);
    background-color: var(--block-bg);
}
.finances__header-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}
.panel__button {
    font-size: var(--xsm-title);
    font-weight: 300;

    color: #fff;
    background: none;
    border: none;
    padding: 5px;

    cursor: pointer;
}

/* Slider */

.finances {
}
.finances__tab {
    display: none;
}
.finances__tab.active {
    display: block;
}
.swiper-container {
}
.swiper-wrapper {
    gap: 5px;
}
.swiper-slide {
    position: relative;

    min-height: 488px;
    margin-top: 10px;

    background-color: var(--block-bg);
    border-radius: var(--corner-md);
}
.slide_effect {
    position: absolute;
    z-index: 0;

    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
} 
.finances__tab-inner_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}
.finances__tab-inner {
    position: relative;
    z-index: 1;

    padding: 20px 12px;
}
.finances__tab-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: var(--corner-md);
    padding: 10px 5px;

    background-color: var(--earn-bg);
    border: 1px solid var(--earn-bg);
}
.finances__tab-card h3 {
    font-size: var(--x2sm-title);
    font-weight: 300;
    color: var(--text-secondary)
}
.finances__tab-card img {
    width: 72px;
}

/* Form */
.finances__tab-form {
    display: flex;
    flex-direction: column;
}
.form__picked_card {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    gap: 5px;

    padding: 8px 12px;

    background-color: var(--earn-bg);
    border-radius: var(--corner-md);
}
.form__picked_card-left {
    display: flex;
    align-items: center;
    gap: 12px;
}
.form__picked_card-icon {
    width: 40px;
    height: 16px;
}
.form__picked_card-info h3 {
    color: var(--text-primary);
    font-weight: 700;
    font-size: var(--sm-title);
}
.form__picked_card-info p {
    color: var(--text-secondary);
    font-weight: 300;
    font-size: var(--xsm-title);
}
.form__picked_card-change_btn {
    background: none;
    border: none;
    
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: var(--x2sm-title);
    color: var(--accent-blue-mono);
}

.form__input {
    margin-top: 15px;
}
.form__input .sum_wrapper {
    margin-top: 15px;
    position: relative;
    z-index: 0;
}
.form__input input {
    width: 100%;
    min-height: 45px;

    padding: 8px 12px;

    background-color: var(--earn-bg);
    color: var(--text-primary);
    
    outline: none;
    border: none;
    border-radius: var(--corner-md);
}
.form__input input[type="number"] {
    padding-left: 26px;
}
.form__input-dollar {
    content: "$";
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
    height: 45px;

    display: flex;
    align-items: center;

    color: var(--text-primary);
}
.form__input ::placeholder {
    color: var(--text-secondary);
}
.form__input-hint {
    display: flex;
    justify-content: space-between;
    font-size: var(--x2sm-title);
    color: var(--hint-color);
    margin-top: 5px;
}
.form__options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;

    margin-top: 35px;
}
.form__options-option {
    background-color: var(--earn-bg);
    color: var(--text-primary);

    border-radius: var(--corner-sm);

    text-align: center;
    padding: 6px;

    transition: all 0.5s ease;
}
.form__options-option.active {
    background-color: var(--app-popup-bg);
}
.form__send_btn {
    margin-top: 45px;
    width: 100%;
    padding: 15px 20px;

    background: var(--accent-green);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);
    box-shadow: 0px 4px 9px 0px rgba(34, 220, 62, 0.39);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}

/* Вкладка <Детализация> */
.detalization_tab {
    margin-top: 12px;
}
.detalization_tab .finances__tab-inner {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
}
.detalization__card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--block-bg);

    border-radius: var(--corner-md);
    padding: 5px 12px;
}
.detalization__card-left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.detalization__card-icon {
    width: 34px;
    height: 15px;
}
.detalization__card-title h3 {
    font-size: var(--xsm-title);
    font-weight: 400;
    color: var(--text-primary);
}
.detalization__card-title p {
    font-size: var(--x2sm-title);
    font-weight: 300;
    color: var(--text-secondary);
}
.detalization__card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.detalization__card-head {
    display: flex;
    gap: 5px;
}
.head__col {
    color: var(--text-secondary);
    font-size: var(--x2sm-title);
    font-weight: 400;
}
.head__col:nth-child(1) {
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    padding-right: 5px;
}
.detalization__card-value {
    font-size: var(--sm-title);
    font-weight: 700;
}
.detalization__card-value_green {
    color: var(--accent-green-mono);
}
.detalization__card-value_yellow {
    color: var(--accent-yellow-mono);
}
.detalization__card-value_red {
    color: var(--accent-red-mono);
}
.detalization__button {
    padding: 15px 20px;
    margin: 10px auto 20px;

    max-width: 170px;

    background: var(--accent-blue);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);
    box-shadow: 0px 2px 6px 0px rgba(47, 178, 252, 0.36);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}