.referal_list {
    padding-top: 25px;
    padding-bottom: 25px;
}
.referal_list-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.referal_list__ref {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 8px 12px;

    background-color: var(--block-bg);
    border-radius: var(--corner-md);
    text-decoration: none;
}
.referal_list__ref-gift_icon {
}
.referal_list__ref-info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    color: var(--text-primary);
}
.ref-info__title {
    font-size: var(--sm-title);
}
.ref-info__subtitle {
    font-size: var(--xsm-title);
    font-weight: 300;
}
.ref-info__subtitle b {
    color: var(--accent-yellow);
}

/* Список друзей */

.friends {
    background-color: var(--friends-bg);
    border-top-left-radius: var(--corner-md);
    border-top-right-radius: var(--corner-md);
}
.friends-inner {
    padding-top: 20px;
}
.friends__header {
    display: flex;
    justify-content: space-between;
}
.friends__header-title {
    color: var(--text-primary);
    font-size: var(--sm-title);
}
.friends__header-title b {
    font-weight: 300;
    color: rgba(161, 161, 161, 1);
}
.friends_value span {
    font-family: sans-serif;
}
.friends__header-button {
    background: none;
    border: none;
    cursor: pointer;
}
.friends__header-button svg path {
    stroke: var(--text-primary);
}
.friends__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
}
.friends__list-friend_card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 12px;
    border-radius: var(--corner-md);

    background-color: var(--block-bg);
}
.friend_card__info {
    display: flex;
    align-items: center;
    gap: 16px;
}
.friend_card__info-pic {
    width: 30px;
    margin-left: 5px;
}
.friend_card__info-about h3 {
    color: var(--text-primary);
    font-size: var(--sm-title);
    font-weight: 500;
}
.friend_card__info-about p {
    color: var(--text-secondary);
    font-size: var(--xsm-title);
    font-weight: 300;
}
.friend_card__info-about p b {
    color: var(--text-primary);
    font-size: var(--xsm-title);
    font-weight: 300;
}
.friend_card__award {
    text-shadow: 0px 0px 2px rgba(158, 123, 0, 0.82);
    color: var(--accent-yellow);
    font-weight: 700;
}