.tab.lazyload .lazyload_template {
    display: block;
}
.tab.lazyload .cards_list {
    display: none;
}
.tab.lazyload .friends__list {
    display: none;
}
.tab.lazyload .detalization_tab .finances__tab-inner {
    display: none;
}
.lazyload_template {
    display: none;
    padding-top: 25px;
}
.lazyload_template-cardlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.lazyload_template-friendlist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lazyload_template-detalization {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lazyload_template__big_card {
    position: relative;
    overflow: hidden;

    background-color: var(--block-bg);
    border: 1px solid var(--border);
    height: 255px;

    border-radius: var(--corner-md);
}
.lazyload_template__small_card {
    position: relative;
    overflow: hidden;

    background-color: var(--block-bg);
    border: 1px solid var(--border);
    height: 165px;

    border-radius: var(--corner-md);
}
.lazyload_template__friend {
    position: relative;
    overflow: hidden;

    background-color: var(--block-bg);
    height: 55px;

    border-radius: var(--corner-md);
}
.lazyload_template__transaction {
    position: relative;
    overflow: hidden;

    background-color: var(--block-bg);
    height: 45px;

    border-radius: var(--corner-md);
}
.inner_effect {
    position: absolute;

    height: 100%;
    width: 20%;

    top: 0;
    right: 0;
    bottom: 0;

    animation: moveEffect 1.5s linear infinite;

    background-color: #3747a1;
    filter: blur(40px);
}

@keyframes moveEffect {
    0% {
        transform: translateX(100px) scaleY(2);
    }
    100% {
        transform: translateX(-400px) scaleY(2);
    }
}