.cards_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    grid-gap: 8px;
}
.cards_big {
    padding-top: 25px;
    margin-bottom: 8px;
}
.cards_list__card {
    position: relative;
    overflow: hidden;

    border-radius: var(--corner-md);

    background-color: var(--header-bg);
    border: 1px solid var(--border);
}
.card_effect {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: 2;
}
.cards_list__card-inner {
    position: relative;
    z-index: 3;

    padding: 12px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    min-height: 100px;
}
.cards_list__card-special {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 12px;
    margin-bottom: 12px;

    /* width: 100%; */

    color: var(--text-primary);
    background-color: var(--earn-bg);
    border-radius: 30px;

    font-size: var(--xsm-title);
    font-weight: 300;
}
.cards_list__card-special img {
    transform: translateY(-1px);
}
.cards_big .cards_list__card-poster {
    width: 96px;
    margin-bottom: 16px;
}
.cards_list__card-title {
    color: var(--text-primary);
    font-size: var(--sm-title); 
    font-weight: 300;
}
.cards_list__card-subtitle {
    color: var(--text-secondary);
    font-size: var(--xsm-title); 
    font-weight: 300;
}
.cards_list__card-footer {
    position: relative;
    z-index: 3;
    
    border-top: 1px solid var(--border);
    display: flex;
    
    min-height: 50px;
}
.footer__col {
    padding: 8px 12px;
    padding-right: 0;
    flex-basis: 50%;
}
.footer__col:nth-child(1) {
    border-right: 1px solid var(--border);
}
.footer__col:nth-child(2) {
    padding-left: 12px;
}
.footer__col-head {
    color: var(--text-secondary);
    font-size: var(--x2sm-title); 
    font-weight: 300;
}
.footer__col-value {
    color: var(--text-primary);
    font-size: var(--sm-title); 
    font-weight: 700;
}
.footer__col-value small {
    font-size: var(--xsm-title);
    color: var(--text-secondary);
}

@media (max-width: 340px) {
    .cards_list {
        grid-template-columns: 1fr;
    }
}