* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    margin: 0;
    padding: 40px;
}

button {
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: rgb(18, 96, 174);
    color: #ffffff;
    font-weight: 500;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

.popup {
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    max-height: 100vh;
    border-radius: 8px;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    margin-bottom: 14px;
}

.popup input,
.popup textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

.check {
    width: 10% !important;
}

.popup textarea {
    resize: none;
    height: 80px;
}

.checkbox {
    font-size: 14px;
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    
    border: none;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    font-size: 24px;
}