.header {
    display: flex;
    flex-direction: column;
}
.header-inner {
    border-radius: var(--corner-md);

    background-color: var(--header-bg);
    overflow: hidden;

    margin-top: 20px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;
}
.header__bg_effect {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.header__bg_effect svg {
    width: 100%;
    height: 100%;
}
.header__account, .header__finance {
    position: relative;
    z-index: 10;
}
.header__user_info {
    display: flex;
    gap: 8px;
}
.header__account {
    display: flex;
    gap: 8px;

    justify-content: space-between;
    align-items: center;
}
.header__account-avatar {
    border-radius: var(--corner-sm);
    overflow: hidden;
    object-fit: cover;

    border: 2px solid rgba(38, 52, 124, 1);
}
.header__account-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.username__head {
    font-size: var(--xsm-title);
    color: var(--text-secondary);
    line-height: 12px;
}
.username__value {
    font-size: var(--sm-title);
    color: var(--text-primary);

}
.header__finance {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;

    flex-wrap: wrap;
}
.header__finance-balance {
    font-size: var(--xlg-title);
    font-weight: 700;

    color: var(--text-primary);
    line-height: 35px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__finance__earn {
    background-color: var(--earn-bg);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    border-radius: var(--corner-md);

    padding: 6px 15px;
}
.finance__earn-head {
    font-size: var(--xsm-title);
    color: var(--text-secondary);
}
.finance__earn-value {
    font-size: var(--sm-title);
    font-weight: 700;
    color: var(--text-primary);
}

@media (max-width: 389px) {
    .header__finance__earn {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;

        align-items: center;
    }
}