.modal_message-inner {
    position: fixed;

    bottom: -100dvh;
    left: 0;
    right: 0;

    max-height: 75vh;
    height: 100%;

    padding-top: 45px;
    padding-bottom: 45px;

    background-color: var(--block-bg);
    box-shadow: 0px -18px 30px 0 rgba(1, 125, 240, 0.45);

    border-top: 3px solid rgba(74, 168, 255, 1);
    border-top-left-radius: var(--corner-lg);
    border-top-right-radius: var(--corner-lg);

    z-index: 22;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;

    transition: all 0.5s ease;

    overflow-y: auto;
}

.modal_message-overlay {
    background-color: var(--overlay-bg);
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 21;

    /* Animation */
    display: none;
}

.modal_message__app_icon {
    width: 100px;
}
.modal_message__title {
    color: var(--text-primary);
}
.modal_message__subtitle {
    font-size: var(--sm-title);
    font-weight: 300;
    color: var(--text-primary);
}
.modal_message__mini_btn {
    padding: 15px 20px;

    background: var(--accent-blue);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}
.modal_message__gift {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border-radius: var(--corner-md);

    background-color: var(--earn-bg);

    padding: 5px 0;
}
.modal_message__gift-col {
    padding: 0 5px;
    flex-basis: 50%;
}
.modal_message__gift-col:nth-child(1) {
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}
.col__head {
    font-size: var(--xsm-title);
    color: var(--text-secondary);
}
.col__value {
    font-size: var(--sm-title);
    font-weight: 700;
    color: var(--text-primary);
}
.modal_message__main_btn {
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;

    background: var(--accent-green);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}

/* Modal opening animation */
.modal_message.active .modal_message-overlay {
    display: block;
}
.modal_message.active .modal_message-inner {
    bottom: 0;
}