.navbar {
    position: fixed;
    z-index: 15;

    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;

    background-color: var(--theme-bg);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);

    padding-top: 15px;
    padding-bottom: 20px;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    background-color: var(--block-bg);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.65);

    border-radius: var(--corner-md);
    
    padding: 7px;
}
.navbar__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 73px;
    gap: 5px;
    text-align: center;

    border-radius: var(--corner-md);
    padding: 5px;
    cursor: pointer;
}
.navbar__btn.active {
    background-color: var(--nav-btn-bg);
}
.navbar__btn.active .navbar__btn-icon path {
    fill-opacity: 100%;
}
.navbar__btn-icon {
    width: 18px;
    height: 18px;
}
.navbar__btn-title {
    color: var(--text-primary);
    font-size: var(--x2sm-title);
    font-weight: 300;
}

/* Кнопка рефералки */

.navbar__share {
    display: none;
}
.navbar__share.active {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.navbar__share-share_btn {
    width: calc(100% - 50px);
    height: 42px;

    background: var(--accent-green);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);
    box-shadow: 0px 4px 9px 0px rgba(34, 220, 62, 0.39);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}
.navbar__share-copy_btn {
    width: 42px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--accent-green);
    color: var(--text-primary);

    border: none;
    border-radius: var(--corner-md);
    box-shadow: 0px 4px 9px 0px rgba(34, 220, 62, 0.39);

    font-weight: 500;
    font-size: var(--sm-title);

    cursor: pointer;
}
.navbar__share-copy_btn svg {
    width: 24px;;
}