/* Small notification */
.notif {
    position: fixed;
    left: 0;
    right: 0;
    top: -100px;

    z-index: 30;

    transition: all 0.5s ease;
}
.notif.active {
    top: 20px;
}
.notif-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    
    background-color: var(--notif-bg);
    color: var(--text-primary);

    border-radius: 40px;
    padding: 10px 25px;
}
.notif__icon {
    width: 20px;
    height: 20px;
}
.notif__text {
    font-size: var(--sm-title);
    font-weight: 700;

    color: var(--text-primary);
}


/* Rotating Icon Animation */

@keyframes rotateIcon {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.notif__icon.rotating {
    animation: rotateIcon 2s ease infinite;
}

/* App Popup */
.app_popup {
    position: fixed;
    top: -150px;
    left: 0;
    right: 0;

    z-index: 30;

    border-bottom-left-radius: var(--corner-md);
    border-bottom-right-radius: var(--corner-md);
    
    background-color: var(--app-popup-bg);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.85);

    transition: all 0.5s ease;

}
.app_popup.active {
    top: 0;
}
.app_popup-inner {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 0;

    flex-wrap: wrap;
}
.app_popup__left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.app_popup__close_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background-color: rgba(255, 255, 255, 0.47);

    border: none;
    border-radius: 50%;
}
.app_popup__icon {
    width: 64px;
    height: 64px;
}
.app_popup__info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.app_popup__info-title {
    font-size: var(--sm-title);
    color: var(--text-primary);
}
.app_popup__info-subtitle {
    font-size: var(--x2sm-title);
    font-weight: 300;
    color: var(--text-secondary);
}
.app_popup__info-rating {
    display: flex;
    gap: 2px;
    
    margin-top: 3px;
    margin-bottom: 3px;
}
.app_popup__btn {
    padding: 7px 16px;

    max-width: 104px;

    background: var(--accent-green);
    color: var(--text-primary);
    box-shadow: 0px 4px 9px 0px rgba(47, 178, 252, 0.56);
    text-decoration: none;

    border: none;
    border-radius: var(--corner-md);

    font-weight: 500;
    font-size: var(--xsm-title);

    text-align: center;
    cursor: pointer;
}

@media (max-width: 374px) {
    .app_popup__btn {
        max-width: 85%;
        width: 100%;
        margin: 0 auto;
    }
}