.display {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100vh;
    height: 100vh;
    width: 100vw;
    z-index: 65;
    transition: all 0.5s ease;
    padding: 0 10vw;
    color: #FFFFFF;
    background-color: #000;
}
.display._active {
    bottom: 0;
}
.display-body {
    height: 100vh;
    width: 100%;
    perspective: 1920px;
}
.display._active .display__obj {
    transform: rotateX(0deg);
    position: relative;
}
.display__obj {
    margin: 0 auto;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg);
    transition: transform 0.5s ease;
    background-image: url(../assets/fnaf/stage/empty.png);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    animation: cameraMove 15s linear infinite;
}
@keyframes cameraMove {
    0% {
        background-position: 0;
    }
    50% {
        background-position: -500px;
    }
    100% {
        background-position: 0;
    }
}
.display__obj-body {
    border: 3px solid #FFFFFF;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
.display__glitch img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 70;
    opacity: 4%;
    max-width: 80vw;
    height: 100vh;
}
.display__panel {
    position: absolute;
    bottom: 30px;
    right: calc(10vw + 50px);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    z-index: 80;
    background-image: url(../assets/fnaf/display-map.png);
    font-size: 18px;
}
.display__panel-cam {
    position: absolute;
    border: 2px solid #FFFFFF;
    padding: 5px 5px 0 5px;
    background-color: #3a3a3a;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 45px;
    text-transform: uppercase;
}
.display__panel-cam._current {
    background-color: #709933;
}
.display__panel-cam:nth-child(1) {
    bottom: 50px;
    left: 106px;
}
.display__panel-cam:nth-child(2) {
    bottom: 50px;
    right: 144px;
}
.display__panel-cam:nth-child(3) {
    
}
.display__panel-cam:nth-child(3) {
    bottom: 100px;
    left: 106px;
}
.display__panel-cam:nth-child(4) {
    top: 100px;
    left: -10px;
}
.display__panel-cam:nth-child(5) {
    top: 160px;
    left: 55px;
}
.display__panel-cam:nth-child(6) {
    right: 35px;
    top: 110px;
}
.display__panel-cam:nth-child(7) {
    top: 77px;
    left: 80px;
}
.display__panel-cam:nth-child(8) {
    top: 25px;
    left: 110px;
}
.display__panel-room {
    position: absolute;
    font-size: 50px;
    top: -20px;
    left: 40px;
    text-transform: capitalize;
}