/* Fonts */
@font-face {
    font-family: "Fnaf";
    src:
      url("../assets/fonts/five-nights-at-freddys.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    user-select: none;

    font-family: "Fnaf", sans-serif;
    box-sizing: border-box;
    user-select: none;
    letter-spacing: 3px;
}

:root {
    --background-color: #000000;
    --primary-color: #ffffff;
}


@keyframes fading {
    0% {
        opacity: 100%;
    }
    80% {
        opacity: 20%;
    }
}
