.victory {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/fnaf/pirate-cove/foxy-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.victory-body {
    max-width: 1200px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}
.victory__title {
    font-size: 50px;
}
.victory__links {
    font-size: 30px;
    opacity: 70%;
}
.victory__links a {
    text-decoration: none;
    color: #d000ff;
}
.victory-body p {
    font-size: 40px;
    margin-top: 20px;
}

.victory__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 200px;
    opacity: 0%;
    transition: opacity 4s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.victory__popup._active {
    opacity: 100%;
}

.victory__popup p {
    font-size: 32px;
}