@font-face {
    font-family: "Formular";
    font-weight: 900;
    src: url(../fonts/formular-black.otf);
}
@font-face {
    font-family: "Formular", sans-serif;
    font-weight: 700;
    src: url(../fonts/formular-bold.otf);
}
@font-face {
    font-family: "Formular";
    font-weight: 500;
    src: url(../fonts/formular-medium.otf);
}

@font-face {
    font-family: "Formular";
    font-weight: 400;
    src: url(../fonts/formular-regular.otf);
}

@font-face {
    font-family: "Formular";
    font-weight: 300;
    src: url(../fonts/formular-light.otf);
}