@font-face {
    font-family: "Formular";
    font-weight: 900;
    src: url(../fonts/Formular-Black.woff2);
}
@font-face {
    font-family: "Formular", sans-serif;
    font-weight: 700;
    src: url(../fonts/Formular-Bold.woff2);
}
@font-face {
    font-family: "Formular";
    font-weight: 500;
    src: url(../fonts/Formular-Medium.woff2);
}

@font-face {
    font-family: "Formular";
    font-weight: 400;
    src: url(../fonts/Formular.woff2);
}

@font-face {
    font-family: "Formular";
    font-weight: 300;
    src: url(../fonts/Formular-Light.woff2);
}